# coding: utf-8

{{>partial_header}}

import enum
import json
import uuid
import os
import {{packageName}}
from typing import TypeVar, List
from getgauge.python import step, before_scenario, Messages
from jsonpath_ng import parse

{{#apiInfo.apis}}
from {{apiPackage}}.{{classFilename}} import {{classname}}
{{/apiInfo.apis}}

T = TypeVar('T')

class TestContext:
    def __init__(self):
        target_host = os.getenv("gauge_target_host", "{{gaugeTargetHost}}")
        access_token = os.getenv("gauge_access_token")
        security_scheme = os.getenv("gauge_security_scheme")
        api_key = os.getenv("gauge_api_key")
        api_key_prefix = os.getenv("gauge_api_key_prefix")

        target_host = target_host.strip() if target_host is not None else None
        access_token = access_token.strip() if access_token is not None else None
        security_scheme = security_scheme.strip() if security_scheme is not None else None
        api_key = api_key.strip() if api_key is not None else None
        api_key_prefix = api_key_prefix.strip() if api_key_prefix is not None else None

        if not target_host:
            raise ValueError("TARGET_HOST is not set or still set to the default placeholder. Please set the gauge_target_host environment variable or pass -p gaugeTargetHost=... during generation.")

        configuration = {{packageName}}.Configuration(host=target_host)

        if access_token:
            {{#hasHttpBearerMethods}}
            configuration.access_token = access_token
            {{/hasHttpBearerMethods}}
            {{^hasHttpBearerMethods}}
            raise ValueError("An access token has been set but the OpenAPI specification has no HTTP bearer authentication methods")
            {{/hasHttpBearerMethods}}

        if api_key:
            {{#hasApiKeyMethods}}
            if not security_scheme:
                raise ValueError("Missing required configuration: 'gauge_security_scheme'. When using an API key, please also set the gauge_security_scheme environment variable")

            configuration.api_key[security_scheme] = api_key
        
            if api_key_prefix:
                configuration.api_key_prefix[security_scheme] = api_key_prefix
            {{/hasApiKeyMethods}}
            {{^hasApiKeyMethods}}
            raise ValueError("An API key has been set but the OpenAPI specification has no API key authentication methods")
            {{/hasApiKeyMethods}}

        self.api_client = {{packageName}}.ApiClient(configuration)
        self.request = None
        self.response = None
        self.previous_response = None

test_context = TestContext()
@step("Create a <operationId> request for the <classname>")
def create_a_request_for_the_api(operation_id, classname):
    test_context.request = Request(classname, operation_id)

@step("Create an <operationId> request for the <classname>")
def create_an_request_for_the_api(operation_id, classname):
    test_context.request = Request(classname, operation_id)

@step("Give the <parameter> parameter a value of <value>")
def give_the_parameter_a_value_of(parameter, value):
    request = test_context.request

    {{#apiInfo.apis}}
    if request.classname == "{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}":
        {{#operations}}
        {{#operation}}
        if request.operation_id == "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}":
            {{^hasParams}}
            pass
            {{/hasParams}}
            {{#allParams}}
            if parameter == "{{baseName}}":
                request.parameters["{{baseName}}"] = convert_to({{{dataType}}}, value)
                return
            {{/allParams}}
        {{/operation}}
        {{/operations}}
    {{/apiInfo.apis}}

    raise ValueError(f"{request.classname}.{request.operation_id} does not have a parameter called {parameter}")

@step("Give the <parameter> parameter a JSON value of <value>")
def give_the_parameter_a_json_value_of(parameter, value):
    request = test_context.request

    {{#apiInfo.apis}}
    if request.classname == "{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}":
        {{#operations}}
        {{#operation}}
        if request.operation_id == "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}":
            {{^hasParams}}
            pass
            {{/hasParams}}
            {{#allParams}}
            if parameter == "{{baseName}}":
                {{#isModel}}
                request.parameters[parameter] = {{modelPackage}}.{{{dataType}}}.from_json(value)
                return
                {{/isModel}}
                {{^isModel}}
                raise TypeError("Cannot deserialize a JSON string to {{{dataType}}}")
                {{/isModel}}
            {{/allParams}}
        {{/operation}}
        {{/operations}}
    {{/apiInfo.apis}}

    raise ValueError(f"{request.classname}.{request.operation_id} does not have a parameter called {parameter}")

@step("Give the <parameter> parameter the following values: <table>")
def give_the_parameter_the_following_values(parameter, table):
    request = test_context.request
    
    {{#apiInfo.apis}}
    if request.classname == "{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}":
        {{#operations}}
        {{#operation}}
        if request.operation_id == "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}":
            {{^hasParams}}
            pass
            {{/hasParams}}
            {{#allParams}}
            if parameter == "{{baseName}}":
                {{#isContainer}}
                collection = list[{{{baseType}}}]()
                for row in table:
                    collection.append(convert_to({{{baseType}}}, row[0]))
                request.parameters["{{baseName}}"] = collection
                return
                {{/isContainer}}
                {{^isContainer}}
                raise TypeError("Cannot read a DataTable into parameter {{baseName}} as it is not an array")
                {{/isContainer}}
            {{/allParams}}
        {{/operation}}
        {{/operations}}
    {{/apiInfo.apis}}

    raise ValueError(f"{request.classname}.{request.operation_id} does not have a parameter called {parameter}")

@step("the <parameter> parameter is <jsonPath> from the previous response")
def the_parameter_is_from_previous_response(parameter, jsonPath):
    if not test_context.previous_response:
        raise ValueError('No previous response exists.')

    content_type = ""
    if test_context.previous_response.headers is not None:
        headers_lower = {k.lower(): v for k, v in test_context.previous_response.headers.items()}
        content_type = headers_lower.get("content-type", "").lower()

    if "application/json" not in content_type:
        raise ValueError('Previous response is not JSON.')

    json_data = test_context.previous_response.raw_data
    if isinstance(json_data, bytes):
        json_data = json_data.decode('utf-8')

    try:
        parsed_json = json.loads(json_data)
    except json.JSONDecodeError:
        raise ValueError('Failed to parse previous response as JSON')

    match = parse(jsonPath).find(parsed_json)

    if not match:
        raise ValueError(f'No value found for JSON Path: {jsonPath}')

    test_context.request.parameters[parameter] = match[0].value

@before_scenario
def before_scenario_hook():
    test_context.previous_response = None

@step("Send the request")
def send_the_request():
    request = test_context.request
    
    {{#apiInfo.apis}}
    if request.classname == "{{#lambda.pascalcase}}{{classname}}{{/lambda.pascalcase}}":
        api = {{classname}}(test_context.api_client)

        {{#operations}}
        {{#operation}}
        if request.operation_id == "{{#lambda.camelcase}}{{operationId}}{{/lambda.camelcase}}":
            test_context.response = api.{{operationId}}_with_http_info({{#allParams}}request.parameters.get("{{baseName}}"){{^-last}}, {{/-last}}{{/allParams}})
            test_context.previous_response = test_context.response
        {{/operation}}
        {{/operations}}
    {{/apiInfo.apis}}

@step("The response status should be <statusCode>")
def the_response_status_should_be(status_code):
    assert test_context.response.status_code == int(status_code)

@step("The response content should be <content>")
def the_response_content_should_be(content):
    content_type = ""
    if test_context.response.headers is not None:
        headers_lower = {k.lower(): v for k, v in test_context.response.headers.items()}
        content_type = headers_lower.get("content-type", "").lower()

    if "application/json" in content_type:
        actual_json = test_context.response.raw_data.decode('utf-8')
        actual = json.loads(actual_json)
        expected = json.loads(content)

        assert actual == expected, f"Expected {content}, but got {actual_json}"
    else:
        raise ValueError(f"Cannot assert against unsupported content type: {content_type}")


def contains_subtree(actual, expected):
    if isinstance(expected, dict):
        return all(key in actual and contains_subtree(actual[key], expected[key]) for key in expected)
    elif isinstance(expected, list):
        return all(any(contains_subtree(a, e) for a in actual) for e in expected)
    else:
        return actual == expected


@step("the response content should contain the subtree <content>")
def then_the_response_should_contain_the_json_subtree(content):
    content_type = ""
    if test_context.response.headers is not None:
        headers_lower = {k.lower(): v for k, v in test_context.response.headers.items()}
        content_type = headers_lower.get("content-type", "").lower()

    if "application/json" in content_type:
        actual_json = test_context.response.raw_data.decode('utf-8')
        actual = json.loads(actual_json)
        expected = json.loads(content)

        assert contains_subtree(actual, expected), f"Response does not contain the expected subtree: {content}"
    else:
        raise ValueError(f"Cannot assert against unsupported content type: {content_type}")


class Request:
    def __init__(self, classname, operation_id):
        self.classname = classname
        self.operation_id = operation_id
        self.parameters = {}

def convert_to(to_type: type[T], value: str) -> any:
    if to_type == str:
        return value
    elif to_type == int:
        return int(value)
    elif to_type == float:
        return float(value)
    elif to_type == bool:
        return bool(value)
    elif to_type == uuid.UUID:
        return uuid.UUID(value)
    elif issubclass(to_type, enum.Enum):
        return to_type[value]

    raise TypeError(f"Cannot convert from str to {to_type.__name__}")