# Configuring the Go step implementation
gauge.go.package=main

# Optional: Set the GOPATH if it's not already set in your environment
#gauge.go.gopath=/path/to/your/gopath

# Customizing the way Gauge runs Go step implementations
gauge.go.timeout=10s