
  <ItemGroup>
    <PackageReference Include="Xunit.Gherkin.Quick" Version="{{^netStandard}}4.5.0{{/netStandard}}{{#netStandard}}4.5.0{{/netStandard}}" />
    <PackageReference Include="Microsoft.Extensions.Logging.Abstractions" Version="{{^netStandard}}9.0.6{{/netStandard}}{{#netStandard}}9.0.6{{/netStandard}}" />
  </ItemGroup>
