
  <ItemGroup>
    <PackageReference Include="Gauge.CSharp.Lib" Version="{{^netStandard}}0.12.*{{/netStandard}}{{#netStandard}}0.12.*{{/netStandard}}" />
    <PackageReference Include="Shouldly" Version="{{^netStandard}}4.3.0{{/netStandard}}{{#netStandard}}4.3.0{{/netStandard}}" />
    <PackageReference Include="Microsoft.Extensions.Logging.Abstractions" Version="{{^netStandard}}9.0.6{{/netStandard}}{{#netStandard}}9.0.6{{/netStandard}}" />
  </ItemGroup>

  <ItemGroup>
    <Content Include="*.spec" CopyToOutputDirectory="PreserveNewest" />
  </ItemGroup>
